@media screen and (max-width:1399px){
    .main_menu>li>a{
        margin: 0px 15px;
    }
}

@media screen and (max-width:1199px){
    /* .trending_product .nav.nav-pills{
         left: 35%;
    }
    .trending_product{
        padding: 60px 15px;
    }
    .trending_product .nav.nav-pills{
        top: 60px;
    }
    #bestsell .card{
        margin-bottom: 10px;
    } */
    .shop_btn{
        margin-top: 30px;
    }
    .header_icon>li{
        margin: 0px 20px;
    }
    .main_menu>li>a{
        margin: 0px 12px;
    }
}

@media screen and (max-width:1024px){
    /* .trending_product .nav.nav-pills{
         left: 35%;
    }
    .trending_product{
        padding: 60px 15px;
    }
    .trending_product .nav.nav-pills{
        top: 60px;
    }
    #bestsell .card{
        margin-bottom: 10px;
    } */
    .specer{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
   .mx_5{
        margin-left: 20px;
        margin-right: 20px;
    }
    .banner_captipon{
        top: 50%;
        right: 8%;
    }
   .banner_heading{
        font-size: 18px;
        line-height: 24px;
    }
   .banner_heading2{
        margin-top: 10px;
        font-size: 30px;
        line-height: 48px;
    }
   .shop_btn{
        margin-top: 20px;
    }
}
@media screen and (max-width:991px){
    /* .top_cate .nav.nav-pills,
    .trending_product .nav.nav-pills{
    position: static;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    }
    .banner_heading{
        font-size: 2.5rem;
    } */
    #banner .item{
        height: 350px;
    }
    /* .specer{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    } */
   .mx_5{
        margin-left: 15px;
        margin-right: 15px;
    }
    .banner_heading{
        font-size: 14px;
        line-height: 18px;
    }
    .banner_heading2{
        font-size: 24px;
        line-height: 30px;
    }
    .shop_btn{
        line-height: 35px;
        padding: 0 10px;
        line-height: 24px;
        width: 75px;
    }
    .blog_card_bg .blog_img_bg,
    .blog_text{
        width: 100%;
    }
    .blog_text{
        padding-left: 0;
        padding-top: 10px;
    }
    .blog_card_bg{
        display: block;
    }
    #blog_page_card{
        display: flex;
    }
    #blog_page_card .blog_text{
        padding-left: 10px;
    }
    #blog_page_card .blog_img_bg{
        width: 49%;
    }
    #blog_page_card .blog_text{
        width: 51%;
    }
   /* .trending_product{
    padding: 30px 15px;
    }
    .contactbox{
        padding: 0 15px !important;
    }
    .contactpage_left{
        border-right: 1px solid #e5e5e5 !important;
    }
    .contactpage_titlebg{
        margin-bottom: 20px;
    }
    .contactpage_title,
    .contactpage_locationbg{
        margin-bottom: 15px;
    }
    .contactpage_left,
    .contactpage_right{ 
     padding: 15px;
    }
    .contactpage_loction{
        margin-bottom: 10px;
        padding-bottom: 15px;
    }
    .contactpage_map{
        height: auto;
    }
    .aboutpage_secbg{
        margin: 20px 0;
    }
    .aboutpage_text h1{
        font-size: 28px;
        margin-bottom: 15px;
    }
    .couner_area {
        margin-bottom: 30px;
        padding: 10px;
    }
    .counter_leftarea h1{
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 28px;
    }
    .aboutpage_counter {
        font-size: 28px;
        line-height: 28px;
    }
    .aboutpage_temsec{
        margin-bottom: 30px;
    }
    .aboutpage_teamcap {
        padding-left: 0px;
    }
    .abopage_sinpro{
        margin-bottom: 15px;
    } */
    .footer_top{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .secound_header{
        /* display: block !important; */
        display: flex;
        justify-content: start !important;
        padding-top: 24px;
        padding-bottom: 23px;
    }
    .logo_header{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .main_menu>li>a{
        display: block;
        font-size: 14px;
        color: #555555;
        margin: 0;
        padding: 5px 0;
    }
    .main_menu>li {
        width: 100%;
        text-align: left;
        list-style-type: none;
        padding: 5px 0;
    }
    .offcanvas{
        width: 300px !important;
    }
    .navbar-nav .nav-link.show {
        color: #555555;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .tab_content{
        padding: 20px 20px 10px;
        border: 1px solid #ededed;
    }
}


@media screen and (max-width:767px){
    /* .owl-nav{
         display: none !important;
    }
    .section_headbg{
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .cat_secoundbg {
        width: 70%;
        margin: auto;
    }
    .cat_secound>div{
        padding: 0 12px !important;
        margin: 10px 0 !important;
    }
    .trending_product{
        padding: 20px 10px;
    }
    .aboutpage_text h1{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    
    #shoppage_pro_horizontal .card .star_rating_block{
        display: inline-block;
        text-align: center;
    }
    #shoppage_pro_horizontal .card .progress{
        margin: auto;
    }
    .thumbnail .slick-track .slick-slide{
        margin-bottom: 0;
        margin-right: 5px;
    } */
}
@media screen and (max-width:768px){
    .owl-nav{
         display: none !important;
    }
    .top_header_text{
        font-size: 11px;
        letter-spacing: 0.3px;
    }
    .top_header_border{
        border: none;
    }
    .banner_captipon{
        top: 50%;
        right: 9%;
    }
    #banner .item{
        height: 300px;
    }
    /* .banner_captipon{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    } */
    .nav-pills .nav-link{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #blog_page_card .blog_img_bg{
        width: 100%;
    }
    #blog_page_card .blog_text{
        width: 100%;
    }
    #blog_page_card .blog_text{
        padding-left: 0;
        padding-top: 10px;
    }
    #blog_page_card{
        display: block;
    }
    .blog_card_bg{
        margin: 0;
    }
    .shop_grid_horizontal .single_productbg{
        display: block !important;
        text-align: center !important;
    }
    .shop_grid_horizontal .product_details div{
        margin-bottom: 0px;
    }
    .shop_grid_horizontal .product_details{
        margin-left: 0px;
    }
    .aboutpage_counterbg:nth-child(2) .single_counter_bg{
        border: none !important;
    }
    .cart_table_bg tr{
        display: block !important;
    }
    .cart_table_bg th{
        width: 100% !important;
        text-align: right;
        padding: 10px!important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width:600px){
    .shop_page_filter{
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .shop_page_navbg{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:576px){
    /* .our_tre{
         left: 0 !important;
         display: grid;
         grid-template-columns: repeat(2,minmax(200px,2fr));
         overflow: auto;
         width: 100%;
    }
    .our_top{
         left: 0 !important;
         display: grid;
         grid-template-columns: repeat(3,minmax(150px,2fr));
         overflow: scroll;
         overflow: auto;
         width: 100%;
    }
    .banner_captipon span{
        display: none;
    }
    .banner_heading{
        font-size: 1.875rem;
    }
    .banner_captipon p{
        font-size: 16px;
    }
    .cat_secoundbg {
        width: 100%;
    }
    .cat_secound_price{
        display: none;
    }
    .counter_rightarea{
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .aboutpage_team{
        display: inline-block;
    }
    .aboutpage_team>div{
        margin-bottom: 15px;
    }
    .pro_page_tabs>ul{
        border-bottom: 0 !important;
    }
    .shop_page_filter{
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .shop_page_navbg{
        display: flex;
        justify-content: center;
    }
    .timebox {
        width: 25px;
        height: 25px;
        font-size: 10px;
    } */
    .banner_captipon{
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
    .mx_5{
        margin-left: -12px;
        margin-right: -12px;
    }
    .section_title{
        margin-bottom: 15px;
    }
    .section_title h3{
        padding-bottom: 12px;
    }
    .footer_top{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .logo_header_bg{
        display: block !important;
        text-align: center !important;
        width: 100%;
        margin-bottom: 15px;
    }
    .secound_header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .single_counter_bg{
        border: none;
    }
}
@media screen and (max-width:450px){
    .banner_heading{
        font-size: 11px;
        line-height: 18px;
    }
   .banner_heading2{
        font-size: 24px;
        line-height: 30px;
    }
   .shop_btn{
        line-height: 35px;
        padding: 0 10px;
        line-height: 24px;
        width: 75px;
    }
    .banner_captipon{
        width: 100%;
    }
    .discount_master_text1{
        font-size: 18px;
        line-height: 22px;
    }
   .discount_master_text2{
        font-size: 20px;
        line-height: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .hero_section{
        display: block;
        text-align: center;
        border-bottom: 1px solid #eee;
    }
    .breadcrumb{
        justify-content: center;
    }
    .contactpage_icon{
        border-width: 0 0 1px;
        box-sizing: border-box;
        padding: 15px 0;
        width: 100%;
    }
    .contactpage_loction{
        display: block;
    }
    
}

@media all and (min-width: 1199px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{
        display: block;
}
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
